body{
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-family: Arial, Helvetica, sans-serif;

  background-color: rgb(248, 237, 225);
  border: 2px solid grey; 
  border-radius: 20px;
  padding-left: 40px;
  margin-top: 100px;
}

h1{
 text-align: center;
 color: rgb(79, 77, 77);
}
.footer {
  text-align: center;
  color: grey;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  gap:9px;
  justify-content: space-between;

  border: 2px solid grey; 
  padding: 5px;
}

.text__area{
  width: 757px;
  height: 100px;
  border: 2px solid grey; 
}

.keyboard__item{
  width: max-content;
  min-width: 40px;
  height: 40px;
  background-color: rgb(139, 134, 134);
  display: flex;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.keyboard__item:hover{
  box-shadow:  rgba(62, 63, 63, 0.25) 0px 20px 20px, 
  rgba(62, 63, 63, 0.12) 0px -12px 20px,
   rgba(62, 63, 63, 0.12) 0px 4px 6px,
    rgba(62, 63, 63, 0.17) 0px 12px 13px,
     rgba(62, 63, 63, 0.09) 0px -3px 5px;
}

.clicked{
  background: rgb(62, 63, 63);
  box-shadow: rgba(62, 63, 63, 0.25) 0px 20px 20px, 
              rgba(62, 63, 63, 0.12) 0px -12px 20px,
               rgba(62, 63, 63, 0.12) 0px 4px 6px,
                rgba(62, 63, 63, 0.17) 0px 12px 13px,
                 rgba(62, 63, 63, 0.09) 0px -3px 5px;
  
}

.keyboard__item_space{
  width: 350px;
}

.keyboard__item_CapsLock,
.keyboard__item_enter,
.keyboard__item_shift{
  width: 90px
}
